:root {
  /* Colors */
  --primaryH: 0;
  --primaryS: 60%;
  --primaryL: 50%;
  --primary-bg: #fff;
  --secondaryH: 0;
  --secondaryS: 0%;
  --secondaryL: 27%;
  --secondary-bg: #fff;

  /* Font */
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", 'Inter', "Helvetica Neue", sans-serif;
  --font-family-mono: Menlo, Consolas, "Roboto Mono", "Ubuntu Monospace", "Oxygen Mono", "Liberation Mono", monospace;
  --font-size-root: 16px;
  --font-weight-bolder: 700;
  --font-weight-bold: 400;
  --font-weight-normal: 200;
  --font-weight-thin: 100;
  --line-height: 1.75rem;
  --heading-margin: 1.5rem 0 1rem;

  /* Inputs */
  --border-radius: 5px;

  /* Status */
  --danger: #d00;
  --warning: #ec0;
  --info: #369;
  --success: #080;

  /* Calculated colors */
  --primary: hsl(var(--primaryH), var(--primaryS), var(--primaryL));
  --primary-bright: hsl(var(--primaryH), calc(var(--primaryS) * 1.25), 90%);
  --primary-transparent: hsla(var(--primaryH), var(--primaryS), var(--primaryL), 0.05);
  --primary-dark: hsl(var(--primaryH), var(--primaryS), calc(var(--primaryL) * 0.5));
  --primary-darker: hsl(var(--primaryH), var(--primaryS), calc(var(--primaryL) * 0.2));
  --primary-light: hsl(var(--primaryH), var(--primaryS), 75%);
  --primary-lighter: hsl(var(--primaryH), var(--primaryS), 96%);
  --secondary: hsl(var(--secondaryH), var(--secondaryS), var(--secondaryL));
  --secondary-transparent: hsl(var(--secondaryH), var(--secondaryS), var(--secondaryL), 0.05);
  --secondary-dark: hsl(var(--secondaryH), var(--secondaryS), calc(var(--secondaryL) * 0.5));
  --secondary-darker: hsl(var(--secondaryH), var(--secondaryS), calc(var(--secondaryL) * 0.2));
  --secondary-light: hsl(var(--secondaryH), var(--secondaryS), 75%);
  --secondary-lighter: hsl(var(--secondaryH), var(--secondaryS), 96%);


  --fg-color: var(--secondary-dark);
  --bg-color: var(--secondary-lighter);
  --menu-bar-fg-color: var(--secondary-lighter);
  --menu-bar-bg-color: var(--secondary-dark);
  --menu-accent-color: var(--primary);
  --link-color: var(--primary);
  --link-hover-color: var(--primary-dark);
}

/* Dark/Light Theme */
@media (prefers-color-scheme: dark) {
 :root:not(.is-light) {
   --primaryH: 185;
   --primaryS: 100%;
   --primaryL: 86%;
   --primary-bg: #263238;
   --secondaryH: 0;
   --secondaryS: 1%;
   --secondaryL: 89%;
   --secondary-bg: #263238;
 }
 img {
   opacity: .75;
   transition: opacity .5s ease-in-out;
 }
 img:hover {
   opacity: 1;
 }
}

/* Dark/Light Theme */
@media (prefers-color-scheme: light) {
 :root:not(.is-dark) {
  --primaryH: 0;
  --primaryS: 60%;
  --primaryL: 50%;
  --primary-bg: #fff;
  --secondaryH: 0;
  --secondaryS: 0%;
  --secondaryL: 27%;
  --secondary-bg: #fff;
 }
}
/* :root{
 --primaryH: 185;
 --primaryS: 100%;
 --primaryL: 86%;
 --primary-bg: #000;
 --secondaryH: 0;
 --secondaryS: 1%;
 --secondaryL: 89%;
 --secondary-bg: #263238;
} */
 /* .is-dark  */
