@import "_variables";
@import "naf-css/src/base";
@import "naf-css/src/forms/button.pcss";

a:focus, a:hover {
  background-color: var(--primary);
  color: var(--primary-lighter);
}

.button {
  text-decoration: none !important;
}
