.header-top {
  align-items: center;
  border-bottom: 5px solid var(--primary);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 0;
}

.header-top > .social {
  display: flex;
  list-style-type: none;
  margin: 0 0 0 auto;
}

.social > li a {
  display: inline-flex;
  align-items: center;
}

.social-icon {
  width: 2em;
  height: 2em;
}

.burger {
  border: 0;
  box-shadow: none;
  z-index: 10;
  height: auto;
  width: 2rem;
}

.burger:hover, .burger:focus {
  background-color: transparent !important;
  color: var(--primary) !important;
  border: none !important;
}

.burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  user-select: none;
  top: 50%;
  left: 50%;
  margin-left: -15px;
}
.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--primary);
  outline: 1px solid transparent;
  transition-property: background-color, transform;
  transition-duration: 0.3s;
}
.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}
.burger span::before {
  top: -9px;
}
.burger span::after {
  top: 9px;
}
.burger.clicked span {
  background-color: transparent;
}
.burger.clicked span::before {
  transform: translateY(9px) rotate(45deg);
}
.burger.clicked span::after {
  transform: translateY(-9px) rotate(-45deg);
}
.burger.clicked span:before, .burger.clicked span:after {
  background-color: var(--primary);
}
.burger:hover {
  cursor: pointer;
}

.logo {
  padding: 1rem;
}

.social li {
  line-height: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-bg);
  opacity: 0;
  visibility: hidden;
}
.overlay.show {
  opacity: 0.8;
  visibility: visible;
}
