.header-top {
  align-items: center;
  border-bottom: 5px solid var(--primary);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 0;
}

.header-top > .social {
  display: flex;
  list-style-type: none;
  margin: 0 0 0 auto;
  padding: 0 !important;
}

.social > li a {
  display: inline-flex;
  align-items: center;
}

.social-icon {
  min-width: 48px;
  min-height: 48px;
  width: 2em;
  height: 2em;
}

.logo {
  padding: 1rem;
}

.social li {
  line-height: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-light);
  opacity: 0;
  visibility: hidden;
}
.overlay.show {
  opacity: 0.8;
  visibility: visible;
}

.burger {
  background-color: transparent;
  border: 0;
  color: var(--primary);
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.6rem 0.6rem;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.burger:focus,
.burger:hover {
  background-color: var(--primary);
  color: var(--secondary-bg);
}
