.image {
  border-radius: 0.375em;
  border: 0;
  display: block;
}
.image img {
  border-radius: 0.375em;
  display: block;
  width: 100%;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 980px) {
  .features {
    grid-template-columns: repeat(1, 1fr);
  }
}

article.features > .image > .responsive-image {
  margin: 5em auto;
  overflow: visible;
  border-radius: 0.375em;
  border: 0;
  display: block;
}

@media screen and (min-width: 979px) {
  article.features > .image > .responsive-image {
    max-width: 210px;
    max-height: 210px;
  }
  article.features > .image > .responsive-image > img {
    width: 200px;
    height: 200px;
    transform: rotate(-45deg);
  }
}

.features > .content {
  margin: 1rem;
}

